{% extends 'calculators/sublayout.html' %}

{% block content %}

    <div class="content-lg container">
        <div class="col-sm-5 sm-margin-b-30">
            <form method="POST">
                {% csrf_token %}
                <h5>Starting principal</h5>
                <input name="starting_principle" value="{{ form.starting_principle.value }}" type="number" class="form-control footer-input margin-b-20" placeholder="Starting principal" required value="{{ form.loan_amount.value }}" step="0.000001" />
                <h5>Interest rate</h5>
                <input name="interest_rate" value="{{ form.interest_rate.value }}" type="number" class="form-control footer-input margin-b-20" placeholder="Interest rate" required value="{{ form.interest_rate.value }}" step="0.000001" />
                <h5>Years to pay out</h5>
                <input name="years_to_pay_out" value="{{ form.years_to_pay_out.value }}" type="number" class="form-control footer-input margin-b-20" placeholder="Years to pay out" required value="{{ form.number_of_months.value }}" />
                <button type="submit" class="btn-theme btn-theme-sm btn-base-bg text-uppercase">Calculate</button>
            </form>
        </div>
        <div class="col-sm-7 sm-margin-b-30">
        {% block result %}
            {% if result %}

                <table class="table table-striped">
                    <tr style="background-color:saddlebrown;color:white;">
                        <td>Item</td>
                        <td>Value</td>
                    </tr>
                    <tr>
                        <td>
                           Annual Payout Amount
                        </td>
                        <td>
                           {{ result.annual_payout_amount }}
                        </td>
                    </tr>
                </table>
            {% endif %}
        {% endblock %}
        </div>
    </div>

{% endblock %}