{% extends 'calculators/sublayout.html' %}

{% block content %}

    <div class="content-lg container">
        <div class="col-sm-5 sm-margin-b-30">
            </form>
                <form method="POST">
                    {% csrf_token %}
                    <h5>Current principal</h5>
                    <input name="current_principle" value="{{ form.current_principle.value }}" placeholder="Current principal" type="number" class="form-control footer-input margin-b-20" required value="{{ form.current_principle.value }}" step="0.000001" />
                    <h5>Annual addition</h5>
                    <input name="annual_addition" value="{{ form.annual_addition.value }}" placeholder="Annual addition" type="number" class="form-control footer-input margin-b-20" required value="{{ form.annual_addition.value }}" step="0.000001" />
                    <h5>Effective annual rate</h5>
                    <input name="effective_annual_rate" value="{{ form.effective_annual_rate.value }}" placeholder="Effective annual rate" type="number" class="form-control footer-input margin-b-20" required value="{{ form.effective_annual_rate.value }}" step="0.000001" />
                    <h5>Years to grow</h5>
                    <input name="years_to_grow" value="{{ form.years_to_grow.value }}" type="number" placeholder="Years to grow" class="form-control footer-input margin-b-20" required value="{{ form.years_to_grow.value }}" />
                    <button type="submit" class="btn-theme btn-theme-sm btn-base-bg text-uppercase">Calculate</button>
                </form>
            </div>
        <div class="col-sm-7 sm-margin-b-30">
        {% block result %}
            {% if result %}

                <table class="table table-striped">
                    <tr style="background-color:saddlebrown;color:white;">
                        <td>Item</td>
                        <td>Value</td>
                    </tr>
                    <tr>
                        <td>
                           Total Value of Your Investment
                        </td>
                        <td>
                           {{ result.future_value }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                           Total Interest Earned
                        </td>
                        <td>
                           {{ result.interest_earned }}
                        </td>
                    </tr>

                </table>
            {% endif %}
        {% endblock %}
        </div>
    </div>

{% endblock %}