{% extends 'calculators/layout.html' %}
{% load static %}

{% block content %}

        <!--========== SLIDER ==========-->
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="item full-screen" style="height: 823px; background-image: url({% static 'img/bg.jpg' %});">
                        <div class="container">
                            <div class="carousel-centered" style="max-width:90vw;">
                                <div class="margin-b-40" style="background-color: rgba(10,10,10,0.7);padding:10px;border-radius:10px;">
                                    <h3 class="carousel-title" style="font-size:50px;">MP Calculator</h3>
                                    <p style="color:white;">All Of Your Financial Calculators In One Place</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--========== SLIDER ==========-->

        <!-- General Questions -->
        <div class="content-lg container" id="description">
            <div class="row margin-b-20">
                <div class="col-sm-6">
                    <h2>A one-stop shop for your financial calculations</h2>
                    <h3 style="color:grey;">Built in Python/Django by Najwa Amir</h3>
                </div>
            </div>
            <!--// end row -->

            <div class="row">
                <div class="col-sm-7 sm-margin-b-50">
                    <div class="margin-b-30">
                        <p>
                            My name is Najwa Amir. My passion in finance and programming motivated me to build this website. Currently, this website includes calculation tools for loan payment, compound interest, annuity, present value, and mortgage payment.
                        </p>
                    </div>
                    <p>
                        My vision for this website is to further develop it to include more financial calculation tools to help others with their financial planning. I also plan to include more features in each financial calculator. Please stay tuned for more!
                    </p>
                </div>
            </div>
            <!--// end row -->
        </div>
        <!-- End General Questions -->

        <!--========== PAGE LAYOUT ==========-->
        <!-- Service -->
        <div class="bg-color-sky-light" data-auto-height="true">
            <div class="content-lg container">
                <div class="row row-space-1 margin-b-2">

                <div class="row row-space-1">
                    <div class="col-sm-4 sm-margin-b-2">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".4s">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                    <i class="service-icon icon-notebook"></i>
                                </div>
                                <div class="service-info">
                                    <h3>Annuities</h3>
                                    <p class="margin-b-5">
                                        An annuity is a financial product that pays a fixed annual amount over a given number of years, primarily used as an income stream for retirees.
                                    </p>
                                </div>
                                <a href="/calculators/annuity" class="content-wrapper-link"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 sm-margin-b-2">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".5s">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                    <i class="service-icon icon-speedometer"></i>
                                </div>
                                <div class="service-info">
                                    <h3>Present Values</h3>
                                    <p class="margin-b-5">
                                        To obtain a specified balance in the future, the present value calculator helps you find the amount you need to invest today to achieve that goal.
                                    </p>
                                </div>
                                <a href="/calculators/presentvalue" class="content-wrapper-link"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".6s">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                    <i class="service-icon icon-badge"></i>
                                </div>
                                <div class="service-info">
                                    <h3>Mortgage Payments</h3>
                                    <p class="margin-b-5">
                                        This is a simple mortgage payment calculator to help you find the amount of your monthly mortgage payments over a given number of years and mortgage rate.
                                    </p>
                                </div>
                                <a href="/calculators/mortgage" class="content-wrapper-link"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--// end row -->

                    <div class="col-sm-4 sm-margin-b-2">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                    <i class="service-icon icon-chemistry"></i>
                                </div>
                                <div class="service-info">
                                    <h3>Loan Payments</h3>
                                    <p class="margin-b-5">
                                        Determine the monthly payment amount for common loan types such as student loans, personal loans, and auto loans.
                                    </p>
                                </div>
                                <a href="/calculators/loans" class="content-wrapper-link"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                    <i class="service-icon icon-badge"></i>
                                </div>
                                <div class="service-info">
                                    <h3>Compound Interest</h3>
                                    <p class="margin-b-5">
                                        Compound interest is interest calculated on the initial principal and on the accumulated interest of previous periods of a loan or deposit.
                                    </p>
                                </div>
                                <a href="/calculators/compoundinterest" class="content-wrapper-link"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--// end row -->
            </div>
        </div>
        <!-- End Service -->

{% endblock %}