{% extends 'calculators/sublayout.html' %}

{% block content %}

    <div class="content-lg container">
        <div class="col-sm-5 sm-margin-b-30">
            <form method="POST">
                {% csrf_token %}
                <h5>Loan amount</h5>
                <input name="loan_amount" value="{{ form.loan_amount.value }}" type="number" class="form-control footer-input margin-b-20" placeholder="Loan amount" required value="{{ form.loan_amount.value }}" step="0.000001" />
                <h5>Mortgage rate</h5>
                <input name="mortgage_rate" value="{{ form.mortgage_rate.value }}" type="number" class="form-control footer-input margin-b-20" placeholder="Mortgage rate" required value="{{ form.interest_rate.value }}" step="0.000001" />
                <h5>Years to pay</h5>
                <input name="year_to_pay" value="{{ form.year_to_pay.value }}" type="number" class="form-control footer-input margin-b-20" placeholder="Years to pay" required value="{{ form.number_of_months.value }}" />
                <button type="submit" class="btn-theme btn-theme-sm btn-base-bg text-uppercase">Calculate</button>
            </form>
        </div>
        <div class="col-sm-7 sm-margin-b-30">
            {% block result %}
                {% if result %}

                    <table class="table table-striped">
                        <tr style="background-color:saddlebrown;color:white;">
                            <td>Item</td>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <td>
                               Monthly Payment
                            </td>
                            <td>
                               {{ result.monthly_payments }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                               Total Interest
                            </td>
                            <td>
                               {{ result.total_interest }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                               Total Payment
                            </td>
                            <td>
                               {{ result.total_payments }}
                            </td>
                        </tr>
                    </table>
                {% endif %}
            {% endblock %}
        </div>
    </div>

{% endblock %}