{% extends 'calculators/sublayout.html' %}

{% block content %}

    <div class="content-lg container">
        <div class="col-sm-5 sm-margin-b-30">
            <form method="POST">
                {% csrf_token %}
                <h5>Future value</h5>
                <input name="future_value" value="{{ form.future_value.value }}" type="number" class="form-control footer-input margin-b-20" placeholder="Future value" required value="{{ form.loan_amount.value }}" step="0.000001" />
                <h5>Discounted rate</h5>
                <input name="discounted_rate" value="{{ form.discounted_rate.value }}" type="number" class="form-control footer-input margin-b-20" placeholder="Discounted rate" required value="{{ form.interest_rate.value }}" step="0.000001" />
                <h5>Number of years</h5>
                <input name="years" type="number" value="{{ form.years.value }}" class="form-control footer-input margin-b-20" placeholder="Number of years" required value="{{ form.number_of_months.value }}" />
                <button type="submit" class="btn-theme btn-theme-sm btn-base-bg text-uppercase">Calculate</button>
            </form>
        </div>
        <div class="col-sm-7 sm-margin-b-30">
        {% block result %}
            {% if result %}

                <table class="table table-striped">
                    <tr style="background-color:saddlebrown;color:white;">
                        <td>Item</td>
                        <td>Value</td>
                    </tr>
                    <tr>
                        <td>
                           Present Value
                        </td>
                        <td>
                           {{ result.present_value }}
                        </td>
                    </tr>
                </table>
            {% endif %}
        {% endblock %}
        </div>
    </div>

{% endblock %}